body {
    margin: 10;
    padding: 10;
    font-family: Arial, sans-serif;
}

img {
    max-width: 600;
    text-align: center;
}

.main-heading {
    color: #333;
    text-align: center;
}

#header {
    background: #f4f4f4;
    padding: 20px
}

.section {
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
  }
  
  a.link {
    color: green;
    text-decoration: none;
  }
  
  a.link:hover {
    color: red;
  }
  
  #content {
    margin: 20px;
    padding: 10px;
  }